{% extends "base.html" %}

{% block title %}
    Profile
{% endblock title %}

{% block content %}
    <form action="" method="post" novalidate>
        {% csrf_token %}
        {% for fm in form %}
        {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} <br><br>
        {% endfor %}
        <input type="submit" value="Update">
        {% if messages %}
            {% for message in messages %}
                {% if message.tags %} {{message.tag}} {% endif %}
                {{message}} 
            {% endfor %}
        {% endif %}
    </form>
    <hr>    
{% endblock content %}