{% extends 'base.html' %}
{% load mathfilters %}

{% block title %}
    Product Detail
{% endblock title %}

{% block content %}
    <h3>Details Page</h3>
    <div class="row">
        <div class="col ">
            <img src="{{product.image.url}}" class="rounded float-start" width=150px, height=250px alt="...">   
            {% for photo in photos %}
                <img src="{{photo.image2.url}}" class="rounded float-start" width=150px, height=250px alt="...">   
            {% endfor %}
        </div>
        <div class=" col">
            <p>{{product.title}}</p>
            <p class="text-muted">M.R.P:-{{product.price}}</p>
            <p>Rs:-{{product.price|sub:product.discount_price}}</p>
            <p>You Save:-{{product.discount_price}}</p>
            <pre>{{product.description}}</pre>  
        </div>

        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" onClick="{% url 'home' %}">
                        <label class="form-check-label" for="flexRadioDefault1">
                            With Exchange
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                            Without Exchange
                        </label>
                    </div>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}